#map {
    height: calc(100vh - 56px);
    margin-top: 56px;
}

@media (max-width: 1024px){
    #map {
        height: calc(100vh- 56px);
        margin-top: 56px;
    }
}

@media (max-width: 503px){
    #map {
        height: calc(100vh - 96px);
        margin-top: 94px;
    }
}

.popup-container {
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.location-heading h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.popup-container hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #ccc;
}

.popup-container h5 {
    color: #4285f4; 
    margin-bottom: 5px;
}

.huge-time strong {
    font-size: 24px;
}

.date {
    font-size: 16px;
}

.weather-section {
    display: flex;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
}

.weather-heading {
    width: 100%; 
    text-align: center; 
    margin-bottom: 5px;
}

.weather-info {
    text-align: left; 
}

.weather-icon img {
    max-width: 100px;
    max-height: 100px;
}
